{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "strict": 0,
    "no-unused-vars": 0,
    "no-console": 1,
    "semi": ["error", "always"],
    "allowImportExportEverywhere": false
  },
  "extends": ["eslint:recommended"]
}
